<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("devjuicLogo.png"), '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Lab", "#" %></li>
					<li><%= link_to "Blog", "#" %></li>
					<li><%= link_to "Contact", "#" %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>